* {
  margin: 0;
}

.container {
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  background-color: blue;
}

.nav {
  background-color: purple;
}

main {
  display: flex;
  justify-content: row;
}

.left-col {
  flex-grow: 3;
  background-color: grey;
}

.right-col {
  flex-grow: 4;
  background-color: black;
}

article {
  background-color: red;
}

footer {
  background-color: yellow;
}
